.mainview {
    position: relative;
    height: 100vh;
    color: white;
    font-family: bangers;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    &__overlay {
        @extend .mainview__bg;
        background-color: rgba(0,0,0,.2);
    }
    &__blurb { 
        position: absolute;
        text-align: center; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    &__location { font-size: 2rem }
    &__weather { font-size: 1.75rem; text-transform: capitalize; }
}