.nav {
    position: absolute;
    z-index: 5; 
    &__item { display: inline-block; margin: 0 20px}
}
.icon-style{
    color: white;
    margin-left: 20px;
}
li {
    display: inline-block;
    font-family: bangers;
    color: white;
    font-weight: 500;
    line-height: 20px;
    font-size: 24px;
    
}
